<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container">
    <ul class="nav justify-content-center">
        <li class="btn btn-outline-primary" >
          <%= link_to "Hosting", root_path, class:"nav-link" %> 
        </li>
        <li class="btn btn-outline-primary">
          <%= link_to "VPS/VDS", home_vpsvds_path, class:"nav-link" %>
        </li>
        <li class="btn btn-outline-primary">
          <%= link_to "Dedicated", home_dedicated_path, class:"nav-link" %>
        </li>
        <li class="btn btn-outline-primary">
          <%= link_to "Domens", home_domens_path, class:"nav-link" %>
        </li>
        <li class="btn btn-outline-primary dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Услуги
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
            <a class="dropdown-item" href="#">Создвть Сайт</a>
            </li>
            <li><a class="dropdown-item" href="#">Тех-Поддержка Сайта</a></li>
            <li><a class="dropdown-item" href="#">Продвижение Сайта</a></li>
            <li><a class="dropdown-item" href="#">Оптимизация Сайта</a></li>
            <li><a class="dropdown-item" href="#">Реклама в GOOGLE и YANDEX</a></li>
            <li><a class="dropdown-item" href="#">БЕСПЛАТНЫЙ ХОСТИНГ</a></li>
          </ul>
        </li>
        <li class="btn btn-outline-primary dropdown">
          <a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            INFO
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Новости</a></li>
            <li><a class="dropdown-item" href="#">Инструкции</a></li>
            <li><a class="dropdown-item" href="#">Документы</a></li>
            <li><a class="dropdown-item" href="#">Статьи</a></li>
            <li><a class="dropdown-item" href="#">Продажа Оборудования</a></li>
            <li><a class="dropdown-item" href="#">PORTFOLIO</a></li>
            <li><a class="dropdown-item" href="#">Все Наши Сервисы</a></li>
            <li><a class="dropdown-item" href="#">Все Наши Услуги</a></li>
            <li><a class="dropdown-item" href="#">Контакты</a></li>
          </ul>
        </li>
      <ul class="nav justify-content-end">
        <% if user_signed_in? %>
        <li><%= current_user.email %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
    </ul>
  </ul>
  </div>
</nav>